<!--
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="www.thymeleaf.org">
    <head>
        <title>Cloud</title>
    </head>
    <body>
        <h1>welcome to ....</h1>
        <img th:src="@{/images/hei.jpg}"/>
&lt;!&ndash;        <form method="POST" th:object="${design}}"></form>
        <h3>Designate your warp</h3>
        <div th:each="ingredient :${wrap}}">
            <input name="ingredients" type="checkbox" th:value="${ingredient.id}}"/>
            <span th:text="${ingredient.name}}">INGREDIENT</span>
            <br/>
        </div>&ndash;&gt;

    </body>

</html>-->
